
dy{
  margin: 0;
  background-color: #000000;
  color: #FFFFFF;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  #900C3F ;
}

ul.nav li {
  float: none; 
}

ul.nav li a {
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px; 
  text-decoration: none; 
}

ul.nav li a:hover:not(.rpage):not(:active) {
  background-color:  #581845 ;
  color: #FFC300;
}

ul.nav li a:active:not(.rpage){
  background-color: #FF5733;
}

ul.nav li a.rpage {
  background-color: #C70039;
}

#supr{
  position: absolute;
  right: 45%;
}
.basic
{
  margin-top:1%;
  padding:1px 16px;
}
