body{
  background: #C1F6FC;
  color: #000;

}
.face1{
  background-color: white;
}
#boxcube2 div {
  color: #C1F6FC;
}
u{
  overflow-wrap: break-word;
}
ul.nav {
  background-color:  #00BABD ;
}
ul.nav li a:hover:not(.rpage):not(:active) {
  background-color:  #EC1559 ;
  color: #FFC300;
}

ul.nav li a:active:not(.rpage){
  background-color: #FF5733;
}

ul.nav li a.rpage {
  background-color: #001120;
}
div.name{
  margin: 2%;
  border-bottom: solid 0.1em #000;
}
div.text{
  margin: 2%;
}
div.text{
  font-size: 18px;
  padding: 1em;
}
div.row{
  clear: both;
}
div.bo{
  width: 10%;
  float: left;
  display: block;
  margin: 3px;
  clear: left;
}
div.i{
  margin-left: 12%;
  display: block;
  font-size: 18px;

}
div.bor{
  width: 10%;
  float: left;
  display: block;
  margin-left: 8%;
  font-size: 18px;
}
div.in{
  margin-left: 25%;
  display: block;
  font-size: 18px;
  border-left: solid 1px black;
  padding: 0.5%;
}
div.in p{
  overflow: hidden;
}
#me{
  margin: 3%;
  float: right;
  border: solid 0.3em #213341;
  box-shadow: 10px 10px 5px grey;
  width: 18%;
}
#me img{
  width: 100%;
}
@media screen and (max-width: 480px) {

  div.bor{
  width: 10%;
  float: none;
  display: block;
  margin-left: 1%;
  font-size: 18px;
}
div.bo{
  width: 10%;
  float: none;
  display: block;
  margin-left: 1%;
  font-size: 18px;
}
}
#con{
  width: 50%;
  margin: 0 auto;

}
#con img{
  width:10%;
  height:10%;
  margin:2%;
  left: auto;
  right: auto;
}
