li {
  list-style:none;
}
h3{
  margin-top:3%;
  margin-left:3%;
  font-size:190%;
  font-family: sans-serif;
}
.img{
  border-style:solid;
  border-width:1em;
  border-color: #333;
  position:relative;
  width:200px;
  height:200px;
  float:left;
  margin:2em;
}

img{
  width:100%;
  height:100%;
}

.img_d{
  position:absolute;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  opacity:0;
  background:#000000;
  color:#ffffff;
  font-size:25px;
  font-family:sans serif;
  letter-spacing:3px;
  margin:5px;
  padding:10px;
  transition:0.3s ease-in;
  
}

.img_d:hover{
  opacity: 0.7;
  cursor:pointer;
 }
.face1{
  background-color: white;
}
#boxcube2 div {
  color: black;
}
