body{
  background: #000; 
  color:#FFF;
}

ul.nav{
  background-color:  #1C5F82 ;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #E09B91 ;
}
ul.nav li a:hover:not(.rpage):not(:active) {
  background-color:  #000  ;
  color: #FFC300;
}
ul.nav li a:active:not(.rpage){
  background-color: #000 ;
}

ul.nav li a.rpage {
  background-color: #E09B91 ;
}
