body{
  background:  #C70039 ;
  color: black;
}
.image {
  top: 0.5em;
  left:0.5em;
  right: -0.5em;
  bottom: -0.5em;
  border-style: solid;
  border-width:2px;
  border-color: black;
  display: inline-block;
  position: relative;
  background: white;

}
img{
  border-bottom-style: solid;
  border-bottom-width:2px;
  border-bottom-color: black;
}
  div.desc {
  padding: 15px;
  text-align: center;

}

.image.fit img {
  width: 100%;
}

.columns {
  width: 98.5%;
  position: relative;
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;
}

.columns .image {
  position: relative;
  display: inline-block;
  margin: 0 0 0;
  width: 100%;
  overflow: hidden;
}

.columns .image img {
  -moz-transition: -moz-transform 0.2s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -ms-transition: -ms-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3D(0, 0, 0);
}

.columns .image:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

@media screen and (max-width: 736px) {

  .columns {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }

}

@media screen and (max-width: 480px) {

  .columns {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

}
