body{
  background:  #C70039 ;
}
.image {
  border: 0;
  display: inline-block;
  position: relative;
}


.image.fit img {
  width: 100%;
}

.columns {
  position: relative;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-gap: 0.5em;
  -webkit-column-gap: 0.5em;
  column-gap: 0.5em;
}

.columns .image {
  position: relative;
  display: inline-block;
  margin: 0 0 0;
  width: 100%;
  overflow: hidden;
}

.columns .image img {
  -moz-transition: -moz-transform 0.2s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -ms-transition: -ms-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3D(0, 0, 0);
}

.columns .image:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

@media screen and (max-width: 736px) {

  .columns {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }

}

@media screen and (max-width: 480px) {

  .columns {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

}
