body {
  background: black;
}
#preloader {
  background: url('loadh.gif') no-repeat;
  top: 0;
  left: 35%;
}
h2 {
  color: red;
  margin: 10px;
}
p {
  text-align: justify;
  margin: 10px;
}
.image {
  border: 0;
  display: inline-block;
  position: relative;
}
.image.fit img {
  width: 100%;
}
.columns {
  display: flex;
  position: relative;
  -moz-column-count: 4;
  -webkit-column-count: 4;
  -ms-column-count: 4;
  column-count: 4;
  -moz-column-gap: 0;
  -webkit-column-gap: 0;
  column-gap: 0;
  -ms-column-gap: 0;
}
#imp {
  color: yellow;
}
.columns .image {
  position: relative;
  display: inline-block;
  border-top-style: solid;
  border-top-width: 3px;
  border-top-color: white;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: white;
  margin: 0 0 0;
  width: 100%;
  overflow: hidden;
}
.columns .image img {
  -moz-transition: -moz-transform 0.2s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -ms-transition: -ms-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3D(0, 0, 0);
}
.columns .image:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
@media screen and (max-width: 736px) {
  .columns {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media screen and (max-width: 480px) {
  .columns {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}
.face1 {
  background-color: white;
}
#boxcube2 div {
  color: #333;
}
