body{
  background-color:#000;
}
ul.nav {
  border-bottom: solid 0.2em #FFF ;
}
ul.nav li a.rpage {
  background-color: #FFF;
  color:#900C3F ;
}
li {
  list-style:none;
}
h2{
  color: #F00;
  clear: left;
  margin:10px;
  overflow:hidden;
}
ul{
  display: flex;
} 
.img{
  display: flex;
  border:solid 0.3em #0F0;
  outline:solid 1.4em #EEE;
  position:relative;
  width:40vh;
  height:35vh;
  float:left;
  margin:2em;
}
.goals{
  border:solid 0.6vh #0F0;
  outline:solid 2.8vh #EEE;
  position:relative;
  width:50vh;
  height:40vh;
  left:30%;
  right:-30%;
  margin:4vh;
}
img{
  width:100%;
  height:100%;
}
.face1{
  background-color: white;
}
#boxcube2 div {
  color: black;
}

