#preloader {
  margin: 0;
  left: 23%;
  top: 25%;
  position: fixed;
  width: 100%;
  height: 130%;
  overflow: hidden;
  background: url('load.gif') no-repeat;
}
#content {
  display: none;
}
@media screen and (max-width: 736px) {
  #preloader {
    margin: 0;
    width: 50%;
    height: 60%;
    overflow: hidden;
    background: url('load.gif') no-repeat;
    background-size: 100% 100%;
  }
}
@media screen and (max-width: 480px) {
  #preloader {
    margin: 0;
    width: 50%;
    height: 60%;
    overflow: hidden;
    background: url('load.gif') no-repeat;
    background-size: 100% 100%;
  }
}
