body{
  background:     #B0E5EB;
  color:black;
}
ul.nav {
  background-color:  #11C8CE ;
}
ul.nav li a:hover:not(.rpage):not(:active) {
  background-color:  #EC1559 ;
  color: #FFC300;
}

ul.nav li a:active:not(.rpage){
  background-color: #FF5733;
}

ul.nav li a.rpage {
  background-color: #213341;
}
.face1{
  background-color: white;
}
#boxcube2 div {
  color: #B0E5EB;
}

