lides{
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.container
{
  border-top-style:solid;
  border-bottom-style:solid;
  border-width: 0.5em;
  border-color: black;
  max-height:60%;
  max-width:100%;
  margin:auto;
  background:#0C315E;
  vertical-align:middle;
  text-align:center;
  position:relative;
}
.container:hover{display:block}
.mySlides{
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 730px) {

  img{
    width: 70%; 
  }

}


.button{
  cursor:pointer;
  border:none;
  outline:0;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  color:#fff!important;
  background-color:#000!important;
  }
.button:hover{
  color:#000!important;
  background-color:#ccc!important
}
.left{
  position:absolute;
  top:50%;
  left:0%;
  transform:translate(0%,-50%);
  -ms-transform:translate(-0%,-50%);
}
.right{
  position:absolute;
  top:50%;
  right:0%;
  transform:translate(0%,-50%);
  -ms-transform:translate(0%,-50%);
}
